@import url(https://fonts.googleapis.com/css?family=Montserrat);
.bg {
    background-color: #f8f9fa00!important;
    display: block;
}
* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgb(9, 74, 136);
}

.h1 {
    font-family: 'Montserrat', sans-serif;
}

.font{
    font-size: 0.6em;
    margin-top: 4%;
}
.center{
    margin-top:5%;
    text-align: center;
}

.p {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}


.blue-bg {
    position: fixed;
    background-size: cover;
    background-color: #58aff6;
    top: -6%;
    height: 300vw;
    width: 101vw;
    z-index: -1;
    overflow-x: hidden;
}


.white-bg {
    position: absolute;
    top: 50%;
    background-color: #fff;
    min-height: 500px;
    margin: 210px 0px;
    width: 100vw;
    height: 200vh;
    z-index: -1;
}

.texto{
    font-size: 1.1em;
    margin: 5%;
    text-align: left;
}

.love {
    width: 24%;
    height: 18vw;
    border-radius: 7px;
    object-fit: cover;
    float: left;
    margin-right: 1%;
}

.love2 {
    width: 24%;
    height: 18vw;
    border-radius: 7px;
    object-fit: cover;
    float: right;
    margin-left: 1%;
}
.content {
    position: absolute;
    top: 0%;
    margin: 250px 10vw;
    max-width: 60vw;
    background-color: transparent;
}


.shadow {
    box-shadow: -2px -5px 5px 0px rgba(0, 0, 0, 0.3);
}



.bg-light {
    --bs-bg-opacity: 0 !important;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}

.white {
    color: white !important;
    border: 6px solid #fff1007d;
}

.ama{
    color: #f6f600;
}


p{
    text-align:center;
    font-size:7em;
    margin:20px 0 20px 0; 
  }
  
  a{
    text-decoration:none; 
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }


/* */
.texto2{
    font-size:1em;
}

.card {
    position: relative !important;
    width: 267px;
    height: 355px !important;
    margin: 6px;
    margin-top: 3%;
    float: left;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
} 

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/**/
  
/* */


p{
    text-align:center;
    font-size:7em;
    margin:20px 0 20px 0; 
  }
  
  a{
    text-decoration:none; 
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  p:nth-child(1) a{
    color:rgb(0, 149, 255);
    font-family:Monoton;
  }
  p:nth-child(1) a:hover{
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate; 
  }
  
  p a:hover{
  color:#ffffff;  
  }

  a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: aqua !important;
    text-decoration: none; 
}
  
  @-webkit-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  rgb(0, 149, 255),
                 0 0 70px  rgb(0, 149, 255),
                 0 0 80px  rgb(0, 149, 255),
                 0 0 100px rgb(0, 149, 255),
                 0 0 150px rgb(0, 149, 255);
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px rgb(0, 149, 255),
                 0 0 35px rgb(0, 149, 255),
                 0 0 40px rgb(0, 149, 255),
                 0 0 50px rgb(0, 149, 255),
                 0 0 75px rgb(0, 149, 255);
    }
  }
  
  @-moz-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  rgb(0, 149, 255),
                 0 0 70px  rgb(0, 149, 255),
                 0 0 80px  rgb(0, 149, 255),
                 0 0 100px rgb(0, 149, 255),
                 0 0 150px rgb(0, 149, 255);
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px rgb(255, 0, 0),
                 0 0 35px rgb(255, 0, 0),
                 0 0 40px rgb(255, 0, 0),
                 0 0 50px rgb(255, 0, 0),
                 0 0 75px rgb(255, 0, 0);
    }
  }
  
  @keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  rgb(255, 0, 0),
                 0 0 70px  rgb(255, 0, 0),
                 0 0 80px  rgb(255, 0, 0),
                 0 0 100px rgb(255, 0, 0),
                 0 0 150px rgb(255, 0, 0);
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px rgb(0, 149, 255),
                 0 0 35px rgb(0, 149, 255),
                 0 0 40px rgb(0, 149, 255),
                 0 0 50px rgb(0, 149, 255),
                 0 0 75px rgb(0, 149, 255);
    }
  }
  
  @media (max-width: 650px) {
    
    #container{
      width: 100%;
    }
    
    p{
      font-size:3.5em;
    }
  
  }

/* */

@media(min-width:300px) and (max-width:1024px){
    .blue-bg {
        position: fixed;
        background-size: cover;
        background-color: rgb(88, 175, 246);
        top: -17%;
        height: 215vw;
        width: 184vw;
        z-index: -1;
        overflow-x: hidden;
    }

    .white-bg {
        position: absolute;
        top: 50%;
        background-color: #fff;
        min-height: 500px;
        margin: 210px 0px;
        width: 100vw;
        height: 300vh;
        z-index: -1;
    }

    .love {
        width: 55%;
        height: 50vw;
        border-radius: 7px;
        object-fit: cover;
        float: left;
        margin-right: 1%;
    }

    .love2 {
        width: 55%;
        height: 50vw;
        border-radius: 7px;
        object-fit: cover;
        float: right;
        margin-left: 1%;
    }

    .card {
        position: relative !important;
        width: 267px;
        height: 355px !important;
        margin: 6px;
        margin-top: 3%;
        float: left;
        margin-left: 11%;
    }
}