@import url(https://fonts.googleapis.com/css?family=Montserrat);
.bg {
    background-color: #f8f9fa00!important;
    display: block;
}
* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgb(9, 74, 136);
}

.h1 {
    font-family: 'Montserrat', sans-serif;
}



.p {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}


.blue-bg {
    position: fixed;
    background-size: cover;
    background-color: #58aff6;
    top: -6%;
    height: 300vw;
    width: 101vw;
    z-index: -1;
    overflow-x: hidden;
}


.white-bg {
    position: absolute;
    top: 50%;
    background-color: #fff;
    min-height: 500px;
    margin: 210px 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}


.content {
    position: absolute;
    top: 0%;
    margin: 250px 10vw;
    max-width: 60vw;
    background-color: transparent;
}


.shadow {
    box-shadow: -2px -5px 5px 0px rgba(0, 0, 0, 0.3);
}



.bg-light {
    --bs-bg-opacity: 0 !important;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}

.white {
    color: white !important;
    border: 6px solid #fff1007d;
}

.ama{
    color: #f6f600;
}


@media(min-width:300px) and (max-width:1024px){
    .blue-bg {
        position: fixed;
        background-size: cover;
        background-color: rgb(88, 175, 246);
        top: -17%;
        height: 215vw;
        width: 184vw;
        z-index: -1;
        overflow-x: hidden;
    }
}